<center>参考文章<a href = "https://kite.com/blog/python/python-string-formatting" target = "_blank">Guide to String Formatting with Python
</a></center>

**The old way :printf style formatting**

----

Inserting a value into a string was done by representing it as a %,followed by a charcter indicating its type.
The man downsides of the printf style is that it's very easy to introduce bugs,that it can be limited in how many arguments could be passed.

In [2]:
# Insert a string and an intger
# if the input is not an integer. %d will throw a TypeError 
# %s can be used with any object ,not just strings.
this  = "this"
five = 5
"%s is a %d" % (this, five)

'this is a 5'

In [3]:
# %r is the same as calling repr() on the input,contrasting with %s
"%s sounds like %r" %("Seaweed", "Seaweed")

"Seaweed sounds like 'Seaweed'"

In [7]:
# the floats ,the number of digits displayed can be controlled by inserting that number
# note that when the digits are truncated ,the value is rounded.
"%.3f" % 6.12555

'6.126'

In [8]:
# Adding padding to the strings
for w in ["some", 'words', 'are', 'longer']:
    print("|%15s" % w)

|           some
|          words
|            are
|         longer

In [9]:
# The dictionary can be used to insert values into a string 
information = {"country": "china", "age": 22}
"Xiaoming is comes from %(country)s and he is %(age)s years old"% information

'Xiaoming is comes from china and he is 22 years old'

<center><big>Python3:str.format()</big></center>

In [10]:
# The position of the arguments determines the position in the target string 
"{} comes before {}".format('a', 'b')

'a comes before b'

In [12]:
# we can specify the index to the argument ,allow repeating and changing the roder of the original arguments:
"{1} is after {0} which is befor {1}".format('a', 'b')

'b is after a which is befor b'

In [13]:
# Access the arguments by name 
"{cat} loves {dog}, {dog} loves {cat}".format(cat = 'tom', dog='jim')

'tom loves jim, jim loves tom'

In [15]:
# pass the arguments by dict
info = {'name': 'dong','age': 22}
"{name} is {age} years old.".format(**info)

'dong is 22 years old.'

In [18]:
# The replacement field can contain any exxpression,including accessing object attributes
class Info:
    def __init__(self,name,age,hobby,country):
        self.name = name
        self.age = age
        self.hobby = hobby
        self.country = country 
        
    def __str__(self):
        msg = "{self.name} is comes from {self.country} and he is {self.age} years old, and his hobbies is {self.hobby}"
        return msg.format(self = self)

infos = [Info("Xiaoming",23,'bike','China'),
        Info('Xiaohua',22,'running', 'Japan'),
        Info('Xiaoyuan', 24, 'jog', 'USA')]
for info in infos:
    print(info)

Xiaoming is comes from China and he is 23 years old, and his hobbies is bike
Xiaohua is comes from Japan and he is 22 years old, and his hobbies is running
Xiaoyuan is comes from USA and he is 24 years old, and his hobbies is jog

In [23]:
# To align, we can use '>' or '<' followed by the desired padding:
for info in infos:
    print("|Name:{info.name:>20}|Age:{info.age:>20}|Hobby:{info.hobby:>20}|Country:{info.country:>20}".format(info = info))

|Name:            Xiaoming|Age:                  23|Hobby:                bike|Country:               China
|Name:             Xiaohua|Age:                  22|Hobby:             running|Country:               Japan
|Name:            Xiaoyuan|Age:                  24|Hobby:                 jog|Country:                 USA

<center><big>The New Standard:F-Strings</big></center>

In [25]:
"""
Formatted string literals,or f-strings,were introduced in Python 3.6 and 
are an exciting additionto our arsenal. They're indicated by an 'f' or 'F' 
before the opening quotation mark of a string .
"""
name = 'xiaoming'
age = '22'
f'{name} is {age} years old.'

'xiaoming is 22 years old.'

In [27]:
# Use expressions that access list contents in replacement fields:
hobbies = ['running', 'biking', 'painting']
f'xiaohua has many hobbies,including {hobbies[0]} {hobbies[1]} and {hobbies[2]}'

'xiaohua has many hobbies,including running biking and painting'

In [32]:
# To use the repr() form in a string ,use the conversion field '!r' or calling repr() directly
country = "China"
f'He is from {country!r}'

"He is from 'China'"

In [33]:
f'She is from {repr(country)}'

"She is from 'China'"

In [38]:
# Nest fields
salary = 100000
padding = 10
f'His year salary is {salary:{padding}}'

'His year salary is     100000'